* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url('Screen Shot 2023-03-05 at 5.24.56 PM.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.game-display {
  display: flex;
  justify-content: space-around;
  width: 100%
}

/* .score-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.game-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 375px;
  height: 375px;
  margin-bottom: 15%
}

.player-one-turn-true {
  font-family: monospace;
  font-size: 30px;
  color: #e6ffe6;
    text-shadow:
      0 0 7px #e6ffe6,
      0 0 10px #e6ffe6,
      0 0 21px #e6ffe6,
      0 0 42px #00e600,
      0 0 82px #00e600,
      0 0 92px #00e600,
      0 0 102px #00e600,
      0 0 151px #00e600;
}

.player-one-turn-false {
  font-family: monospace;
  font-size: 30px;
  color: #202f38
}

box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  /* make corners softer*/
  border: solid #47d1d1;
  transition: all 750ms;
}

.square-one {
  border-left: none;
  border-top: none;
}

.square-two {
  border-top: none;
}

.square-three {
  border-top: none;
  border-right: none;
}

.square-four {
  border-left: none;
}

.square-six {
  border-right: none;
}

.square-seven {
  border-left: none;
  border-bottom: none;
}

.square-eight {
  border-bottom: none;
}

.square-nine {
  border-right: none;
  border-bottom: none;
}

.hidden {
  display: none!important;
}

.active-color13579 {
  background: rgb(255, 153, 0, .45)
}

.active-color2468 {
  background: rgb(255, 254, 1, .5)
}