* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url('assets/Screen Shot 2023-03-05 at 5.24.56 PM.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.token-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  align-items: center;
  padding-top: 15%;
}

.player-token {
  height: 50px
}

.player-section {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding-top: 18%;
  width: 40%;
}

.game-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
}

#roundDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 375px;
  height: 375px;
}

box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: solid 10px #c8dfdffb;
  transition: all 750ms;
}

.round-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-one {
  border-left: none;
  border-top: none;
  border-radius: 20px 0px 0px 0px;
}

.square-two {
  border-top: none;
}

.square-three {
  border-top: none;
  border-right: none;
  border-radius: 0px 20px 0px 0px;
}

.square-four {
  border-left: none;
}

.square-six {
  border-right: none;
}

.square-seven {
  border-left: none;
  border-bottom: none;
  border-radius: 0px 0px 0px 20px;
}

.square-eight {
  border-bottom: none;
}

.square-nine {
  border-right: none;
  border-bottom: none;
  border-radius: 0px 0px 20px 0px;
}

.active-color13579 {
  background: rgb(255, 153, 0, .3)
}

.active-color2468 {
  background: rgb(255, 254, 1, .3)
}

.token {
  width: 90px;
}
